<h1>HTML fetcher</h1>
<p>Find me in app/views/pages/index.html.erb</p>

Enter URL to fetch -- please enter a full URL starting with "http://..."

	<%= form_for @which_page, url: "/pages", method: "get" do |f| %>

    <%= f.url_field :site %>
    <%= f.submit "fetch site" %>
    <% end %>
<br>

<br>Tags:<br>
<%= @tag_frequency_hash %>

<br>

Here is the source HTML of <b><%= @which_url %></b>
<br>

<%= @body %>


