<div class="container">
	<p><%= link_to "Fetch a different site", root_path %></p>

	<h2> Tags and their frequencies in <%= @which_url %></h2>

		<% @tag_frequency_sorted.each do |tag| %>
			<div class="row">
				<div class="col-md-4">
					<a href="/pages/<%=tag[0]%>"> <%= tag[0] %> </a>
				</div>
				<div class="col-md-2">
					 <%= tag[1]%>	
				</div>
			</div>
		<% end %>
</div>

<div class="container">
	<h2>HTML source of <%= @which_url %> with <mark><%= @highlight_tag %></mark> highlighted</h2>

	<%= highlight(h(@body_text), @highlight_tag) %>
</div>